.page
    height: 100%
    width: 100%
    background: #151515
    display: flex
    flex-flow: row wrap
    //background: radial-gradient(circle, rgba(16,16,16,1) 50%, rgba(32,32,32,1) 85%, rgba(41,41,41,1) 95%)
    .short-column
        width: 30%
        .datos-personales
            display: flex
            flex-direction: column
            padding: 1rem 2rem
            border: solid 1px white
            width: fit-content
            h2

            span
                display: flex
                flex-direction: row
                align-items: baseline
                width: fit-content
                padding: 1rem 2rem
                line-height: 24px
                i, svg
                    margin: 0.4rem 1rem
                strong
                    display: none
                a
                    margin: 0
                    height: 100%
    .big-column
        width: 70%
